<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 margin-top-0 margin-top-60 margin-bottom-60">
      <div class="">
        <div class="listing-item">
          <%= image_tag @vehicle.images.first.variant(resize_to_limit: [600, 600]) %>
          <div class="listing-item-content">
            <h3><%= "#{@vehicle.year} #{@vehicle.make} #{@vehicle.model}" %></h3>
            <span><%= @vehicle.location %></span>
          </div>
        </div>
      </div>
      <div class="boxed-widget opening-hours summary margin-top-0">
        <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
        <ul>
          <li>Start Trip <span><%= @start_datetime.strftime("%d %B %Y") %></span></li>
          <li>End Trip <span><%= @end_datetime.strftime("%d %B %Y") %></span></li>
          <li>Pick Time <span><%= @start_datetime.strftime("%H:%M %P") %></span></li>
          <li>Drop Time <span><%= @end_datetime.strftime("%H:%M %P") %></span></li>
          <li class="total-costs">Total Cost <span>$<%= @total_price %></span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 margin-top-0 margin-top-60 margin-bottom-60 text-center">
      <%= image_tag("summary.svg", height: 200, class: "margin-top-120") %>
    </div>
  </div>
</div>