<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user_id %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Horsepower:</strong>
  <%= @vehicle.horsepower %>
</p>

<p>
  <strong>Powertrain:</strong>
  <%= @vehicle.powertrain %>
</p>

<p>
  <strong>Acceleration:</strong>
  <%= @vehicle.acceleration %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
